h1 {
        position: relative;
        border-color:grey;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        background: whitesmoke;
        margin: 0 0 15px -15px;
        padding: 5px 15px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
              
}

p.footer {
        text-align: center;
        background-color: lightblue;
        font-style: italic;
}

legend.breaks {
        text-align: center;
        font-style: normal;
        background-color: lightblue;
}

h3.subheading {
        text-align: center;
}

h6.subheading {
        text-align: center;
}

img {
        float: right;
        width: 20%;
        height: 40%;

}

.coolheader img {
        float: right;
        width: 18%;
      }
      
.coolheader h2 {
        position: static;
        top: 18px;
        left: 10px;
}

* {
        background-color: whitesmoke;
}

select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-right: 2rem;
        padding: 1rem;
        padding-right: 2rem;
      }